main{
    width:500px;
    height: 250px;
    background-color: beige;
    margin: 0 auto;
}
#insertar{
    display:flex;
    flex-direction:column;   
    margin:10px
}
button{
    border-radius: 10px;
    
}